.header {
  left: 0;
  top: 0;
  width: 100vw;
  height: 8vh;
  border-bottom: 1px solid #535559;
  padding-bottom: 2vh;

  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .contents {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;

    .logo {
      margin-left: 100px;
    }

    .home {
      color: #4285FF;
    }
  }
  
  .navigation {

    margin-right: 100px;

    ul {
      display: flex;
      list-style: none;
    
      li {
        font-size: 15px;
        margin-left: 30px;
        margin-right: 10px;
      }
    }
  }
}
  