.header {
  left: 0;
  top: 0;
  width: 100vw;
  height: 10vh;
  background-color: #29B6F6;


  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contents {
    display: flex;
    width: 96vw;
    max-width: 1100px;
    height: 10vh;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }
  
  .navigation {
    ul {
      display: flex;
      list-style: none;
    
      li {
        font-size: 20px;
        margin-left: 30px;
        margin-right: 10px;
        color: #FFFFFF;
      }
    }
  }
}
  